# Don't forget: when making changes down here, sync them with the .prettierignore file.
LICENSE
pnpm-lock.yaml

# Don't forget: when making changes down here, sync them with the .gitignore file.
build
node_modules
